<!DOCTYPE html>


<html lang="fr" @type="Organization" legalname="IMOVA SARL" foundingdate="2022">

<head>



    <title>IMOVA - Recherchez et trouver le bien de vos rêves</title>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- SEO META -->
    <meta name="keywords" content="Annonces en ligne, Annonces Immobili&egrave;res, Recherche, Biens &agrave; vendre" />
    <meta name="description" content="En un clic, trouvez le bien de vos r&ecirc;ves : appartement, maison, terrain &agrave; vendre. Recherchez parmi des centaines d'annonces immobili&egrave;res sur toute la Tunisie." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="didintel.github.io/imova" />
    <meta name="publisher" content="IMOVA SARL" />
    <meta name="robots" content="index, follow" />
    <meta name="facebook-domain-verification" content="0xpgda234sdpitulgqev9s8gaaw78e" />
    <meta property="og:url" content="https://didintel.github.io/imova" />
    <meta property="og:type" content="Immobilier" />
    <meta property="og:title" content="Agence immobili&egrave;re IMOVA, Forfait fixe de 3900 DT" />
    <meta property="og:description" content="En un clic, trouvez le bien de vos r&ecirc;ves : appartement, maison, terrain &agrave; vendre. Recherchez parmi des centaines d'annonces immobili&egrave;res sur toute la Tunisie." />
    <meta property="og:image" content="logo-share2.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-Ua-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />


    <!-- SEO CANON -->


    <!-- SEO LANGS -->


    <!-- META END -->

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.ico" />


    <!-- FAVICONS END -->


    <!-- SEO JSON-LD -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "WebPage",
            "inLanguage": "fr-FR",
            "image": ["https:\/\/didintel.github.io/imova\/bundles\/front\/img\/logos\/logo-immopop-full.png"],
            "publisher": {
                "@type": "Organization",
                "name": "IMOVA",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https:\/\/didintel.github.io/imova\/bundles\/front\/img\/logos\/logo-immopop-full.png"
                },
                "telephone": "+216 25 291 291",
                "url": "https:\/\/didintel.github.io/imova"
            },
            "operatingSystem": "Web-based",
            "applicationCategory": "Immobilier, Real Estate",
            "url": "https:\/\/didintel.github.io/imova\/alerts\/",
            "offers": {
                "@type": "AggregateOffer",
                "price": "3900.00",
                "lowPrice": "3900.00",
                "priceCurrency": "TND",
                "offers": {
                    "@type": "Service",
                    "url": "https:\/\/didintel.github.io/imova\/service-and-prices"
                }
            },
            "headline": "IMOVA - Recherchez et trouver le bien de vos r\u00eaves",
            "description": "En un clic, trouvez le bien de vos r\u00eaves : appartement, maison, terrain \u00e0 vendre. Recherchez parmi des centaines d'annonces immobili\u00e8res sur toute la Tunisie.",
            "keywords": "Annonces en ligne, Annonces Immobili\u00e8res, Recherche, Biens \u00e0 vendre"
        }
    </script>
    <!-- SEO JSON-LD END -->


    <!-- Base Assets Top -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="build/0.f80e8c3e.css">
    <link rel="stylesheet" href="build/1.ebcc49a5.css">
    <link rel="stylesheet" href="build/ImmoPop.20457c1d.css">

    <!-- CH Cookie Consent -->
    <script type="text/javascript" src="bundles/chcookieconsent/js/cookie_consent.js"></script>
    <!-- End Base Assets Top -->




</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-120Y50L7TZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-120Y50L7TZ');
</script>

<body cz-shortcut-listen="true" class="space-top-1 space-top-md-2 mt-md-2">

    <!-- ========== HEADER ========== -->
    <header id="header" class="header header-box-shadow-on-scroll header-abs-top header-bg-transparent header-show-hide scrolled js-header-fix-moment" data-hs-header-options="{ &quot;fixMoment&quot;: 1000, &quot;fixEffect&quot;: &quot;slide&quot;}">

        <div class="header-section bg-soft" data-header-fix-moment-classes="bg-soft" style="     box-shadow: 0px 0px 8px lightblue; ">




            <div id="logoAndNav" class="container">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-lg">

                    <!-- Logo -->
                    <a class="d-flex content-centered" href="index.html" aria-label="IMOVA">
                        <img class="d-block d-md-none" src="bundles/front/img/logos/logo-immopop-red.png" height="36px" alt="Logo IMOVA Red">
                        <img class="d-none d-md-block mb-2" src="bundles/front/img/logos/logo.png" height="30px" alt="Logo IMOVA">
                    </a>
                    <!-- End Logo -->

                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor"
                                    d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                            </svg>
                        </span>
                        <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor"
                                    d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                            </svg>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse align-content-end">
                        <div id="navBar" class="navbar-body header-abs-top-inner">
                            <ul class="navbar-nav">


                                <!-- Menu Vendeur -->
                                <li class="nav-item hs-has-sub-menu" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">

                                    <a id="VendeurMegaMenu" class="hs-mega-menu-invoker hs-mega-menu-invoker nav-link nav-link-toggle  py-3" href="#" aria-haspopup="true" aria-expanded="false">
                                        Vendre
                                    </a>

                                    <!-- Menu Vendeur - Mega Menu -->
                                    <div class="hs-sub-menu dropdown-menu hs-sub-menu-desktop-lg animated fadeOut" aria-labelledby="VendeurMegaMenu" style="min-width: 350px;">




                                        <!-- Menu Item - Vendre mon bien -->
                                        <div class="navbar-promo-card navbar-promo-item">
                                            <a class="navbar-promo-link my-0 my-lg-1" href="vendre.html">
                                                <span class="navbar-promo-title">
                                                    Vendre mon bien
                                                </span>
                                                <small class="navbar-promo-text">Un projet immobilier ? Parlons en
                                                    !</small>
                                            </a>
                                        </div>
                                        <!-- End Menu Item - Vendre mon bien -->



                                        <!-- Menu Item - Comment ça marche ? -->
                                        <div class="navbar-promo-card navbar-promo-item">
                                            <a class="navbar-promo-link my-0 my-lg-1" href="how-it-work.html">
                                                <span class="navbar-promo-title">
                                                    Comment ça marche ?
                                                </span>
                                                <small class="navbar-promo-text">Sans commission - Forfait fixe de
                                                    3 900 TND</small>
                                            </a>
                                        </div>
                                        <!-- End Menu Item - Comment ça marche ? -->




                                    </div>
                                    <!-- End Menu Vendeur - Mega Menu -->

                                </li>
                                <!-- End Menu Vendeur -->

                                <!-- Menu Acquereurr -->
                                <li class="nav-item hs-has-sub-menu" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">

                                    <a id="AcquereurrMegaMenu" class="hs-mega-menu-invoker hs-mega-menu-invoker nav-link" href="search.html" aria-haspopup="true" aria-expanded="false">
                                        Acheter
                                    </a>

                                    <!-- Menu Acquereurr - Mega Menu -->
                                    <div class="hs-sub-menu  hs-sub-menu-desktop-lg " aria-labelledby="AcquereurrMegaMenu" style="min-width: 350px;">


                                    </div>
                                    <!-- End Menu Acquereurr - Mega Menu -->

                                </li>
                                <!-- End Menu Acquereurr -->

                                <!-- Menu Acquereurr -->
                                <li class="nav-item hs-has-sub-menu" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">

                                    <a id="AcquereurrMegaMenu" class="hs-mega-menu-invoker hs-mega-menu-invoker nav-link   py-3" href="service-and-prices.html" aria-haspopup="true" aria-expanded="false">
                                        Service & Tarifs
                                    </a>

                                    <!-- Menu Acquereurr - Mega Menu -->
                                    <div class="hs-sub-menu  hs-sub-menu-desktop-lg ">
                                    </div>
                                    <!-- End Menu Acquereurr - Mega Menu -->

                                </li>
                                <!-- End Menu Acquereurr -->

                                <!-- Menu Acquereurr -->
                                <li class="nav-item hs-has-sub-menu" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">

                                    <a id="AcquereurrMegaMenu" class="hs-mega-menu-invoker hs-mega-menu-invoker py-3">

                                    </a>

                                    <!-- Menu Acquereurr - Mega Menu -->
                                    <div class="hs-sub-menu dropdown-menu hs-sub-menu-desktop-lg animated fadeOut" aria-labelledby="AcquereurrMegaMenu" style="min-width: 350px;">




                                        <!-- Menu Item - Rechercher une Location -->
                                        <div class="navbar-promo-card navbar-promo-item">
                                            <a class="navbar-promo-link my-0 my-lg-1" href="https://didintel.github.io/imova/search">
                                                <span class="navbar-promo-title">
                                                    Rechercher une Location
                                                </span>
                                                <small class="navbar-promo-text">Le bien de vos rêves à côté de chez
                                                    vous</small>
                                            </a>
                                        </div>
                                        <!-- End Menu Item - Rechercher une Location -->



                                        <!-- Menu Item - Faire gérer son bien -->
                                        <div class="navbar-promo-card navbar-promo-item">
                                            <a class="navbar-promo-link my-0 my-lg-1" href="https://didintel.github.io/imova/service-location">
                                                <span class="navbar-promo-title">
                                                    Faire gérer son bien
                                                </span>
                                                <small class="navbar-promo-text">Découvrez nos solutions
                                                    locatives</small>
                                            </a>
                                        </div>
                                        <!-- End Menu Item - Faire gérer son bien -->



                                        <!-- Menu Item - Créer une Alerte Location -->
                                        <div class="navbar-promo-card navbar-promo-item">
                                            <a class="navbar-promo-link my-0 my-lg-1" href="https://didintel.github.io/imova/alerts/">
                                                <span class="navbar-promo-title">
                                                    Créer une Alerte Location
                                                </span>
                                                <small class="navbar-promo-text">Restez informé des nouvelles
                                                    offres</small>
                                            </a>
                                        </div>
                                        <!-- End Menu Item - Créer une Alerte Location -->




                                    </div>
                                    <!-- End Menu Acquereurr - Mega Menu -->

                                </li>
                                <!-- End Menu Acquereurr -->




                                <div class='d-md-none'>

                                    <!-- Menu Item - Nous contacter -->
                                    <a class="nav-link u-header__nav-link py-2" href="contact.html" aria-haspopup="false" aria-expanded="false">
                                        Nous contacter
                                    </a>
                                    <!-- End Menu Item - Nous contacter -->


                                </div>

                                <a class="btn btn-soft-primary btn-sm transition-3d-hover ml-md-2 my-2 py-1 w-100 w-md-auto" href="vendre.html">
                                    Estimation gratuite
                                </a>

                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->

            </div>

            <!-- Breadcrumb -->
            <div class="container header-hide-content pt-0 px-1">
                <div class="d-none d-md-block">


                    <nav class="m-0" aria-label="breadcrumb"></nav>


                </div>
            </div>
            <!-- End Breadcrumb -->


        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="">

        <!-- Search Section -->
        <div class="bg-light">
            <div class="container space-1 mt-6">

                <form name="filter" method="post" id="filter_form" class="" data-mode="ImmoPop">
                    <div hx-get="https://imova-listings.didintel.dev/listings/search" hx-target="#list_properties" hx-trigger="load, click from:#search_submit" hx-include="select,input">
                    </div>



                    <div id="searchFormFilters2">

                        <div id="searchFilterCollapse" data-parent="#searchFormFilters2">
                            <div class="card bg-gray p-3 mt-2">

                                <div class="row">

                                    <!-- Property State Selector -->
                                    <div hx-get="https://imova-listings.didintel.dev/listings/states" hx-trigger="load" hx-target="#states_options" hx-swap="outerHTML">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="js-focus-state">
                                            <i class="fas fa-fw fa-city text-primary"></i> &nbsp;
                                            <label class="" for="filter_states">Gouvernorat</label>
                                            <div class="input-group input-group-pill">
                                                <select id="filter_states" name="state" class="form-control select2 form-control" multiple="multiple">
                                                    <optgroup id="states_options">
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Property State Selector -->

                                    <!-- Property City Selector -->
                                    <div id="filter_cities_htmx" hx-get="https://imova-listings.didintel.dev/listings/cities" hx-trigger="load, citi" hx-include="#filter_states" hx-target="#filter_cities" hx-swap="innerHTML">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="js-focus-state">
                                            <i class="fas fa-fw fa-city text-primary"></i> &nbsp;
                                            <label class="" for="filter_cities">Villes</label>
                                            <div class="input-group input-group-pill">
                                                <select id="filter_cities" name="city" class="form-control select2 form-control" multiple="multiple">
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function waitForElm(selector) {
                                            return new Promise(resolve => {
                                                if (document.querySelector(selector)) {
                                                    return resolve(document.querySelector(selector));
                                                }

                                                const observer = new MutationObserver(mutations => {
                                                    if (document.querySelector(selector)) {
                                                        resolve(document.querySelector(selector));
                                                        observer.disconnect();
                                                    }
                                                });

                                                observer.observe(document.body, {
                                                    childList: true,
                                                    subtree: true
                                                });
                                            });
                                        }
                                        elementQuery = ".bg-gray > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) > span:nth-child(2) > span:nth-child(1) > span:nth-child(1) > ul:nth-child(1)"

                                        waitForElm(elementQuery).then((elm) => {
                                            filterState = document.querySelector(elementQuery);
                                            // create a new instance of 'MutationObserver' named 'observer', 
                                            // passing it a callback function
                                            observer = new MutationObserver(function(mutationsList, observer) {
                                                htmx.trigger("#filter_cities_htmx", "citi")
                                                $("#filter_cities").select2({
                                                    theme: "classic",
                                                    width: "100%",
                                                    maximumSelectionLength: null
                                                })
                                            });

                                            // call 'observe' on that MutationObserver instance, 
                                            // passing it the element to observe, and the options object
                                            observer.observe(filterState, {
                                                characterData: false,
                                                childList: true,
                                                attributes: false
                                            });

                                        });
                                    </script>
                                    <!-- End Property City Selector -->
                                </div>



                                <div class="row">
                                    <!-- Property Type Selector -->
                                    <div hx-get="https://imova-listings.didintel.dev/listings/types" hx-trigger="load" hx-target="#listing_types_options" hx-swap="outerHTML"></div>
                                    <div class="col-12 col-sm-6">
                                        <div class="js-focus-state">
                                            <i class="fas fa-fw fa-home text-primary"></i> &nbsp;
                                            <label class="" for="filter_type">Type de Bien</label>
                                            <div class="input-group input-group-pill">
                                                <select id="filter_type" name="listing_type" class="form-control select2 form-control" multiple="multiple">
                                                    <optgroup id="listing_types_options">
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Property Type Selector -->
                                    <!-- BedRooms Selector -->
                                    <div class="col-12 col-sm-6">
                                        <div>
                                            <i class="fas fa-fw fa-bed text-primary"></i> &nbsp;
                                            <label class="" for="filter_bedroom">Nombre de chambres</label>
                                            <div class="input-group input-group-sm input-group-pill">
                                                <select id="filter_bedroom" name="bedrooms" class="form-control select2" multiple="multiple">
                                                    <option value="1">Une chambre</option>
                                                    <option value="2">Deux chambres</option>
                                                    <option value="3">Trois chambres</option>
                                                    <option value="4">Quatre chambres</option>
                                                    <option value="5">Cinq chambres et plus</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End BedRooms Selector -->

                                </div>

                                <div class="text-center mt-2 mb-2">
                                    <span class="u-divider u-divider--xs u-divider--text">Plus de critères</span>
                                </div>


                                <div class="row p-3 justify-content-around">

                                    <!-- Disabled Access CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fab fa-accessible-icon fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_disabledAccess">
                                                <input type="checkbox" class="toggle-switch-input"
                                                    id="filter_disabledAccess" id="filter_disabledAccess"
                                                    name="filter[disabledAccess]"
                                                    ico="fab fa-accessible-icon fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0"
                                                            for="filter_disabledAccess">Accessibilité</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Disabled Access CheckBox -->

                                    <!-- Garden CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fas fa-house-leave fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_garden">
                                                <input type="checkbox" class="toggle-switch-input" id="filter_garden"
                                                    id="filter_garden" name="filter[garden]"
                                                    ico="fas fa-house-leave fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0" for="filter_garden">Jardin</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Garden CheckBox -->

                                    <!-- Garage CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fad fa-garage-open fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_garage">
                                                <input type="checkbox" class="toggle-switch-input" id="filter_garage"
                                                    id="filter_garage" name="filter[garage]"
                                                    ico="fad fa-garage-open fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0" for="filter_garage">Garage</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Garage CheckBox -->

                                    <!-- Pool CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fas fa-swimming-pool fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_pool">
                                                <input type="checkbox" class="toggle-switch-input" id="filter_pool"
                                                    id="filter_pool" name="filter[pool]"
                                                    ico="fas fa-swimming-pool fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0" for="filter_pool">Piscine</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Pool CheckBox -->

                                    <!-- Balcony CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fad fa-coffee fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_balcony">
                                                <input type="checkbox" class="toggle-switch-input" id="filter_balcony"
                                                    id="filter_balcony" name="filter[balcony]"
                                                    ico="fad fa-coffee fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0" for="filter_balcony">Balcon</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Balcony CheckBox -->

                                    <!-- Terrasse CheckBox -->
                                    <div class="col-12 col-sm-6 col-md-2">
                                        <div class="form-group">
                                            <div class="text-center pb-2">
                                                <i class="fas fa-house-night fa-2x text-primary"></i>
                                            </div><label class="toggle-switch d-flex align-items-center mb-3" for="filter_terrace">
                                                <input type="checkbox" class="toggle-switch-input" id="filter_terrace"
                                                    id="filter_terrace" name="filter[terrace]"
                                                    ico="fas fa-house-night fa-2x text-primary">
                                                <span class="toggle-switch-label">
                                                    <span class="toggle-switch-indicator"></span>
                                                </span>
                                                <span class="toggle-switch-content">
                                                    <span class="d-block text-center">
                                                        <label class="mb-0" for="filter_terrace">Terrasse</label>
                                            </span>
                                            </span>

                                            </label>
                                        </div>
                                    </div>
                                    <!-- End Terrasse CheckBox -->

                                </div>

                                <div class="row">

                                    <!-- Search by Ref -->
                                    <div class="col-12">
                                        <div class="js-focus-state">
                                            <label for="filter_reference">Référence</label>
                                            <div class="input-group input-group-sm input-group-pill">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="typeProperty">
                                                        <span class="fas fa-filter"></span>
                                                    </span>
                                                </div>
                                                <input type="text" id="filter_reference" name="reference" class="form-control form-control" placeholder="Référence" />

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Search by Ref -->

                                </div>
                                <a id="search_submit" class="btn btn-soft-primary btn-sm transition-3d-hover ml-md-2 my-2 py-1 w-100 w-md-auto">
                                    Recherche
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- End Search Section -->
        <!-- Search Map -->

        <!-- End Search Map -->

        <!-- Filters Section -->
        <div class="container space-0 my-1">

            <div class="row align-items-center">
                <div class="col-sm-6 mb-3 mb-sm-0">
                </div>

                <div class="col-sm-6">
                    <div class="d-flex justify-content-sm-end align-items-center">

                        <!-- Select -->
                        <select class="js-select selectpicker dropdown-select mr-2" id="filter_sortSelect" name="filterSort" data-size="10" data-width="fit" data-style="btn-soft-secondary btn-xs">
                            <option value="newest" selected>
                                <i class="fas fa-sort-amount-asc"><i />
                                    Dernières Annonces
                            </option>
                            <option value="oldest">
                                <i class="fas fa-sort-amount-asc"><i />
                                    Les Plus Anciennes
                            </option>
                            <option value="lowestPrice">
                                <i class="fas fa-sort-amount-asc"><i />
                                    Prix Croissants
                            </option>
                            <option value="highestPrice">
                                <i class="fas fa-sort-amount-desc"><i />
                                    Prix Décroissants
                            </option>
                            <option value="lowestSurface">
                                <i class="fas fa-sort-alpha-asc"><i />
                                    Surfaces Croissantes
                            </option>
                            <option value="highestSurface">
                                <i class="fas fa-sort-alpha-desc"><i />
                                    Surfaces Décroissantes
                            </option>
                        </select>
                        <!-- End Select -->

                        <a class="btn btn-xs btn-soft-secondary mx-2 " href="search.html" title="Réinitialiser la Recherche actuelle">
                            <span class="fa fa-times text-primary"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Filters Section -->



        <!-- List of Properties Section -->
        <div id="list_properties">
        </div>

        <!-- End Filters Section -->









    </main>
    <!-- ========== END MAIN CONTENT ========== -->




    <div class="clearfix"></div>


    <!-- ========== FOOTER ========== -->
    <footer class="container">
        <div class="bg-soft-secondary rounded mb-4">

            <div class="row justify-content-center justify-content-lg-between pt-3 pb-1">

                <div class="col-12 col-lg-12 mb-2">

                    <div class="d-flex align-items-center align-items-lg-start flex-column h-100">

                        <div class="row w-100 my-0 justify-content-center text-center text-lg-left">

                            <div class="col-12 col-md-6 col-lg-4 text-center px-1">
                                <!-- Phone Contact -->
                                <div class="h6 text-secondary font-size-1 mb-2 mb-lg-0">
                                    <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-2">
                                        <span class="fas fa-phone btn-icon__inner"></span>
                                    </span>
                                    <span class="my-auto">
                                        Appelez-nous :
                                        <a class="text-primary" href='tel:+ 216 25 291 291'>+ 216 25 291 291</a>
                                    </span>
                                </div>
                                <!-- End Phone Contact -->
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 text-center px-1">
                                <!-- Email Contact -->
                                <div class="h6 text-secondary font-size-1 mb-2 mb-lg-0">
                                    <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-2">
                                        <span class="fas fa-envelope btn-icon__inner"></span>
                                    </span>
                                    <span class="my-auto">
                                        Email :
                                        <a href='mailto:hello@didintel.dev'>hello@didintel.dev</a>
                                    </span>
                                </div>
                                <!-- End Email Contact -->
                            </div>

                            <div class="col-12 col-lg-4 text-center  px-1 mb-2 mb-lg-0">

                                <!-- Social Networks -->
                                <ul class="w-100 text-center list-inline mb-0">

                                    <li class="list-inline-item">
                                        <div class="h6 text-secondary font-size-1">
                                            Aussi sur
                                        </div>
                                    </li>


                                    <li class="list-inline-item">
                                        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://www.facebook.com/imova" target="_blank" title="La page Facebook d'Immop-Pop">
                                            <span class="fab fa-facebook-f btn-icon__inner"></span>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://twitter.com/IMOVA?lang=fr" target="_blank" title="Le fil Twitter d'Immop-Pop">
                                            <span class="fab fa-twitter btn-icon__inner"></span>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://www.instagram.com/imova" target="_blank" title="La page Instagram d'Immop-Pop">
                                            <span class="fab fa-instagram btn-icon__inner"></span>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a class="btn btn-sm btn-icon btn-soft-primary rounded" href="https://www.linkedin.com/company/IMOVA" target="_blank" title="Suivez Immop-Pop sur LinkedIn">
                                            <span class="fab fa-linkedin btn-icon__inner"></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Social Networks -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr class="my-0 mx-3 border-black">

            <div class="row justify-content-center justify-content-lg-between my-4 mx-md-5">

                <div class="col-6 col-sm-4 col-md-3 text-center text-md-left px-1">
                    <div class="h6 font-weight-semi-bold text-primary">Services</div>

                    <!-- List Group -->
                    <ul class="nav nav-sm nav-x-0 flex-column mb-0">
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="search.html"> -->
                            <a class="nav-link py-1" href="search.html">
                                Acheter
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="alerts/index.html"> -->
                            <a class="nav-link py-1" href="vendre.html">
                                Vendre
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="login.html"> -->
                            <a class="nav-link py-1" href="contact.html">
                                Contact
                            </a>
                        </li>

                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-6 col-sm-4 col-md-3 text-center text-md-left px-1">

                    <div class="h6 font-weight-semi-bold text-primary">Découvrir</div>

                    <!-- List Group -->
                    <ul class="nav nav-sm nav-x-0 flex-column mb-0">
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="vendre.html"> -->
                            <a class="nav-link py-1" href="service-and-prices.html">
                                Services & Tarifs
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="service-and-prices.html"> -->
                            <a class="nav-link py-1" href="how-it-work.html">
                                Comment Ça Marche ?
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="offres-et-parrainages.html"> -->
                            <a class="nav-link py-1" href="faq.html">
                                FAQ
                            </a>
                        </li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-6 col-sm-4 col-md-3 text-center text-md-left px-1" style="justify-content: flex-start;">
                    <div class="h6 font-weight-semi-bold text-primary">A Propos</div>

                    <!-- List Group -->
                    <ul class="nav nav-sm nav-x-0 flex-column mb-0">
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="notre-histoire.html"> -->
                            <a class="nav-link py-1" href="notre-histoire.html">
                                <!-- <a class="nav-link py-1"> -->
                                Qui sommes-nous ?
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="medias/espace-presse.html"> -->
                            <a class="nav-link py-1" href="medias/espace-presse.html">
                                <!-- <a class="nav-link py-1"> -->
                                Espace Presse
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link py-1" href="https://didintel.github.io/imova/jobs" target="_blank"> -->
                            <a class="nav-link py-1" href="jobs.html" target="_blank">
                                <!-- <a class="nav-link py-1" target="_blank"> -->
                                Jobs
                            </a>
                        </li>

                    </ul>
                    <!-- End List Group -->
                </div>




            </div>

            <hr class="my-0 mx-3 border-black">

            <div class="row justify-content-center py-2 mx-2">

                <div class="order-2 order-md-1 text-center text-md-left col-md-6 mb-0 mb-lg-0">
                    <!-- Copyright -->
                    <p class="small text-muted mb-0">
                        <!-- Made with <i class="fas fa-heart text-primary"></i> par l'équipe IMOVA -->
                    </p>
                    <p class="small text-muted mb-0">
                        <span class="d-inline-block d-md-none d-lg-inline-block">Copyright</span> © 2022 IMOVA SARL | Tout droit réservé.
                    </p>
                    <!-- End Copyright -->
                </div>

                <div class="order-1 order-md-2 text-center col-md-6 text-md-right mb-lg-0 justify-content-around">
                    <!-- Links -->
                    <ul class="list-inline list-group-flush list-group-borderless mb-0">
                        <li class="list-inline-item pl-sm-3 mr-0">
                            <a class="list-group-item-action small" href="">Mentions légales</a>
                        </li>
                        <!-- <li class="list-inline-item pl-sm-3">
                            <a class="list-group-item-action small" href="cgu.html">Conditions d'utilisation</a>
                        </li> -->
                    </ul>
                    <!-- End Links -->
                </div>

            </div>
        </div>

    </footer>
    <!-- ========== END FOOTER ========== -->

    <!-- Base Assets Bottom -->

    <script src="build/runtime.45e0d50e.js" async defer></script>
    <script src="build/0.399a1424.js" async defer></script>
    <script src="build/1.745c2bf1.js" async defer></script>
    <script src="build/ImmoPop.f3f29ba0.js" async defer></script>
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>





    <a class="js-go-to btn btn-soft-lighter position-fixed p-2" href="#" style="visibility: hidden;" data-hs-go-to-options='{
     "offsetTop": 700,
     "position": {
       "init": {
         "right": 15
       },
       "show": {
         "bottom": 15
       },
       "hide": {
         "bottom": -15
       }
     }
   }'>

        <span class="fas fa-fw fa-arrow-up u-go-to__inner"></span>
    </a>

    <div class="position-relative text-center mx-auto mb-0" style="width: 200px;">
        <a class="js-go-to" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
     "offsetTop": 700,
     "position": {
       "init": {
         "right": 15
       },
       "show": {
         "bottom": 15
       },
       "hide": {
         "bottom": -15
       }
     }
   }'>
            <!-- SVG Wave Shape -->
            <figure class="u-go-to-wave ie-go-to-wave">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 208 44" style="margin-bottom: -32px; enable-background:new 0 0 208 44;" xml:space="preserve">
                    <path class="fill-primary" d="M0,43c0,0,22.9,2.2,54-18.7S95.1,1.5,95.1,1.5s11.2-3.5,20.1,0.1s10.4,3.7,19.2,9.3c7.7,4.8,15,10.1,22.8,14.9
          c10.1,6.2,21.5,11.7,33,14.8C191.6,41,208,44,208,43c0,0,0,1,0,1H0V43z" />
                </svg>

                <span class="fas fa-angle-double-up text-white u-go-to-wave__icon"></span>
            </figure>
            <!-- End SVG Wave Shape -->
        </a>
    </div>
</body>

</html>